build
build-win
Testing

*.so
*.dll
*.dylib
*.exe
*.pdb
*.lib
*.obj
*.a
*.o
*.lo
*.laib
*.la
*.ilk
*.exp
*.idb
*.iobj
*.ipdb
*.sbr
*.pch
*.mod
*.pmod
*.tsan
*.ubsan
*.profdata
*.gcda
*.gcno
*.gcov
*.gcovrc
*.gcovrc
*.coverage
*.lcov
*.prof
*.profraw
*.profdata
*.dSYM/
